<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>음악의 민족</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!--        <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="card_box.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script>

        $(document).ready(function () {
            listing()
        })

        function listing() {
            $.ajax({
                type: "GET",
                url: "/contents",
                data: {},
                success: function (response) {
                    let music = response['all_music']
                    for (let i = 0; i < music.length; i++) {
                        let artist = music[i]['artist']
                        let song = music[i]['song']
                        let rec = music[i]['rec']
                        let file = music[i]['file']

                        let temp_html = `<div class="col">
                                            <div class="card">
                                                <img src="../static/${file}"
                                                     class="card-img-top"
                                                     alt="앨범자켓">
                                                <div class="card-body">
                                                    <h5 class="card-title">${song}</h5>
                                                    <p class="card-text">${artist}</p>
                                                    <p class="comment">${rec}</p>
                                                    <p class="id">id</p>
                                                </div>
                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

    </script>

</head>

<style>

    body {
        background-color: gainsboro;
        min-height: 100vh;
    }

    .title {
        font-weight: 800;
        font-size: 4rem;
        font-family: 'Jua', sans-serif;
    }

    .subtitle {
        font-family: 'Jua', sans-serif;
    }

    button {
        left: 43.5%;
        width: 250px;
        border-radius: 10px;
        margin-top: 0.5%;
    }

    .wrap {
        width: 1800px;
        margin: 20px auto 0 auto;
    }

    a {
        text-decoration: none;
    }

</style>

<body>

    <section class="hero is-white">
        <div class="hero-body has-text-centered" style="padding-bottom:1rem;margin:auto;">
            <h1 class="title">음악의 민족</h1>
            <h3 class="subtitle">나만 알기 아쉬운 음악을 추천하고 싶다면?</h3>
        </div>
    </section>
    <button class="button is-dark" onclick="window.location.href = '/rec'">작성하기</button>
    <div class="wrap">
        <div class="row row-cols-1 row-cols-md-6 g-4" id="cards-box">
        </div>
    </div>
</body>
</html>