<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/style.css">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>

    <!-- File input CSS -->
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <script>

        <!-- 음악 추천 작성 페이지에는 필요 없어 주석 처리 함 -->
        $(document).ready(function () {
            bsCustomFileInput.init()
            listing()
        })

        function listing() {
            $.ajax({
                type: "GET",
                url: "/contents",
                data: {},
                success: function (response) {
                    let music = response['all_music']
                    for (let i = 0; i < music.length; i++) {
                        let artist = music[i]['artist']
                        let song = music[i]['song']
                        let rec = music[i]['rec']
                        let file = music[i]['file']

                        let temp_html = `<div class="card">
                                            <img src="../static/${file}" class="card-img-top">
                                            <div class="card-body">
                                                <h5 class="card-title">${song}</h5>
                                                <h6 class="card-title">${artist}</h6>
                                                <p class="card-text">${rec}</p>
                                            </div>
                                        </div>`
                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

        function posting() {
            let artist = $("#artist").val()
            let song = $("#song").val()
            let rec = $("#rec").val()

            let file = $('#file')[0].files[0]
            let form_data = new FormData()

            form_data.append("file_give", file)
            form_data.append("artist_give", artist)
            form_data.append("song_give", song)
            form_data.append("rec_give", rec)

            $.ajax({
                type: "POST",
                url: "/contents",
                data: form_data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

        var load = function (event) {
            var preview = document.getElementById('preview');
            preview.src = URL.createObjectURL(event.target.files[0]);
            preview.onload = function () {
                URL.revokeObjectURL(preview.src) // free memory
            }
        }

    </script>

</head>

<body>

<div class="wrap">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="image-box">
                <img class="preview" id="preview">
                <div class="custom-file">
                    <!-- 웹개발 플러스에서 사용한 업로드 버튼에 accept 속성을 적용, 이미지 파일만 받을 수 있게 함.-->
                    <input type="file" class="custom-file-input" id="file" accept="image/*" onchange="load(event)">
                    <label class="custom-file-label" for="file"></label>
                </div>
            </div>
            <div class="posting-box">
                <div class="form-group">
                    <input type="text" class="form-control" id="artist" placeholder="아티스트">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="song" placeholder="곡 / 앨범">
                </div>
                <div class="mb-3">
                    <input class="form-control" id="rec" rows="1" placeholder="한마디">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button onclick="posting()" class="btn btn-primary" type="button">등록</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 음악 추천 작성 페이지에 첨부 할 필요 없어 주석 처리 함 -->
    <!-- <div class="card-columns" id="cards-box"></div> -->
</div>

</body>

</html>